---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "SEO",
    price: "$500",
    popular: false,
    features: [
      "One time payment",
      "Includes one Google Ads Campaign",
      "Keywords Market Research",
      "Inmediate Results",
      "Waterfall Effect Results",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
  {
    name: "Websites",
    price: "$2000",
    popular: true,
    features: [
      "We teach you how to update your website",
      "Up to 1 corporative email",
      "One Custom domains",
      "Social Networks Integration",
      "Contact Form",
      "Image Gallery, Image Sliders",
      "Intuitive and Outstanding Website"
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
  {
    name: "Mobile App",
    price: "Custom",
    popular: false,
    features: [
      "Android and iOS",
      "Payment Gateways",
      "Login Register",
      "Push Notifications",
      "Contactless Payment",
      "GPS, Maps Widgets",
      "AI implementation",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Get More Value for your Money
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
