---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Get Top Programming Technologies",
    description:  
      "We use technologies like React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Webs and Mobile Apps",
    description:
      "We build great website and stunning mobile apps.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Make your Business Popular",
    description:
      "Do you need more exposure? We put your business in the first page results in Google with a good quality SEO",
    icon: "bx:bxs-data",
  },
  {
    title: "Broad Integration",
    description:
      "If you already have a website or software we can integrate our services to what you already have.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Good quality SEO",
    description:
      "You will find the results soon and they will increase with time. It just works!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Clients",
    description:
      "Sydney Soft is a company mostly used by casinos and hospital all over the world and we can adapt to any industry and project",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to digitalize your business
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We develop e-commerce websites, landings, business websites and we can also position them.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
