<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Sydney Soft. All rights reserved.
  </p>
  <!--
  https://sydneysoft.au
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://sydneysoft.au"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Sydney Soft
    </a>
  </p>
</footer>
